<div id="about">
  <p>
    The
    <a href="https://github.com/edan-bainglass/aiidalab-acwf" target="_blank"
      >AiiDAlab Common Workflows app</a
    >
    is leverages the AiiDA Common Workflows (ACWF) framework for running common
    materials simulations through a consistent interface.
  </p>
  <p>
    The current app is in an early demonstration phase and provides the common
    base relaxation workflow, as well as a plugin for simulating atomic force
    microscopy (AFM) images.
  </p>
  <p>The app is built on top of the following open-source codes:</p>
  <ul>
    <li>
      <a
        href="https://github.com/aiidateam/aiida-common-workflows"
        target="_blank"
        >aiida-common-workflows</a
      >: a collection of common computational workflows for materials science
      built on top of AiiDA.
    </li>
    <li>
      <a href="https://github.com/aiidateam/aiida-workgraph" target="_blank"
        >aiida-workgraph</a
      >: a flexible workflow engine for building complex workchains and plugins.
    </li>
    <li>
      <a
        href="https://github.com/aiidateam/aiida-quantumespresso"
        target="_blank"
        >aiida-quantumespresso</a
      >: an AiiDA plugin for running Quantum ESPRESSO calculations, used as the
      default relaxation engine in the app.
    </li>
  </ul>
  <p>
    To learn how to use the app, open the <b>Tutorials</b> section from the top
    bar and follow along the guides.
  </p>
</div>
