.acwf-app {
  gap: 0.5rem;
}

.app-header {
  text-align: center;
}

.settings-label {
  width: 120px;
  text-align: right;
}

.vector-hbox .widget-label {
  margin-right: 6px;
}

.vector-hbox .widget-text {
  width: 117px;
}
