.acwf-app {
  gap: 0.5rem;
}

.app-header {
  text-align: center;
}

.workflow-selector-row {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}

.structure-manager > div:not(:nth-child(2)) {
  display: none;
}

.workflow-inputs .widget-label {
  width: 225px;
  margin-right: 8px;
  text-align: right;
}

.workflow-inputs .widget-hbox .widget-label {
  margin-right: 6px;
}

.workflow-inputs .widget-hbox .widget-text {
  width: 67px;
}

.settings-label {
  width: 120px;
  text-align: right;
}

.afm-configuration-settings-panel .widget-checkbox {
  width: fit-content;
}

.afm-configuration-settings-panel .text-widget {
  width: auto;
}

.afm-configuration-settings-panel .widget-label {
  width: 175px;
  text-align: right;
}
