.afm-configuration-settings-panel .widget-checkbox {
  width: fit-content;
}

.afm-configuration-settings-panel .text-widget {
  width: auto;
}

.afm-configuration-settings-panel .widget-label {
  width: 175px;
  text-align: right;
}

.afm-configuration-settings-panel .widget-toggle-button {
  width: 117px;
}

.afm-configuration-settings-panel h3 {
  margin-top: 12px;
}
